.removeBtn {
    background: url('../assets/remove.png') no-repeat center;
    background-size: cover;
    width: 40px;
    height: 40px;
    border: none;
}

.ingredientText {
    font-size: 21px;
    text-transform: capitalize;
    line-height: 53px;
}

.ingBtn {
    border: none;
    background: none;
}